.dialogDiv {
    display: flex;
    flex-direction: column;
}

button {
    margin: 2rem 1rem;
    padding: 1rem 2rem;
    border: 1px solid rgb(104, 103, 103);
    border-radius: 1em;
}

button:hover {
    opacity: 0.8;
}

.noButton {
    background-color: brown;
    color: azure;
}

.okButton {
    background-color: rgb(93, 176, 209);
    color: azure;
}